<div class="content_main">

  <div class="top_content">
    <div fxLayout="column" fxLayoutAlign="start">
      <div class="title_desc" align=center>
        <p>I’m <b>Arun Sajeev</b>. A Product designer based in Kochi.<br/> Currently working at Entri, focused on
          <b>UI/UX Design, Web Design</b> and <b>Illustration.</b></p>
      </div>

      <!--Social icons -->
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="4%" class="social_icons">

          <a href="https://www.instagram.com/inspired_monster/" class="icon_social">
            <img src="../../assets/images/instagram.svg" />
          </a>
          <a href="https://dribbble.com/inspired_monster" class="icon_social">
            <img src="../../assets/images/dribble.svg" />
          </a>
        <a href="https://twitter.com/imarun949" class="icon_social">
          <img src="../../assets/images/twitter.svg"/>
        </a>
        <a href="https://in.linkedin.com/in/arunsajeev" class="icon_social">
          <img src="../../assets/images/linkedin.svg"/>
        </a>
      
      </div>
    </div>

    
    <!--Floating action button-->
    <mat-chip class="fab_contact" fxLayoutAlign="center center" [disableRipple]=true>
      <img class="img_talk_to_me" src="../../assets/images/im_short_fab.png">
      Talk to me
    </mat-chip>
    </div>
    
    <div class="feature_contents" fxLayout="row" >
  <!--That computer shit!-->
  <div class="content_computer" fxLayout="row" fxLayoutAlign="center">
  
    <div class="bottom_layout_computer"></div>
    <div [ngClass.md]="'image_div_wide'"
    [ngClass.lg]="'image_div_wide'"
    [ngClass.xl]="'image_div_wide'"
    [ngClass.sm]="'image_div_med'"
    [ngClass.xs]="'image_div_narrow'">
    <img class="computer_image" src="../../assets/images/computer_group.svg"/>
  </div>
    
  </div>

      <!--Footer bar-->
  <div class="footer" fxLayout="row" fxLayoutAlign="center">
      <div class="footer_line"></div>
      <div class="footer_content" fxLayout="row" fxLayoutAlign="center">
        <p class="footer_text" fxLayoutAlign="center center">© 2019 Inspired Monster</p>
      </div>
    </div>
    </div>
  

  </div>

 
 
  
  
  