<div class="main_content" >
  <div *ngIf="isMainLoading" class="loading_view">
      <lottie-animation-view 
      [options]="lottieConfig"
      [width]="210"
      [height]="210">
    </lottie-animation-view>
  </div>

  <div 
  [ngClass.md]="'portfolio_layout'"
    [ngClass.lg]="'portfolio_layout'"
    [ngClass.xl]="'portfolio_layout'"
    [ngClass.sm]="'portfolio_layout_small'"
    [ngClass.xs]="'portfolio_layout_small'"
     fxLayout='column' fxLayoutAlign='center'>
      <mat-grid-list cols="2" rowHeight="2:1.5" class="portofolio_wrapper"
      [gutterSize]="'8px'">
          <ng-container *ngFor="let item of shots; let i = index">
        <mat-grid-tile class="shot_item">
            <img src="{{item.images.normal}}" class="center-cropped"/>
      </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
      <div *ngIf="isSubLoading" class="sub_loading_view">
        <lottie-animation-view 
        [options]="lottieConfig"
        [width]="50"
        [height]="50">
      </lottie-animation-view>
    </div>
  
  </div>
  <!--footer-->
  <div class="footer" fxLayout="row" fxLayoutAlign="center">
    <div class="footer_line"></div>
    <div class="footer_content" fxLayout="row" fxLayoutAlign="center">
      <p class="footer_text" fxLayoutAlign="center center">© 2019 Inspired Monster</p>
    </div>
  </div>
  
</div>