/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css?family=Nunito+Sans'); */
body {
    display: block;
    margin: 0px;
    height: 100%;
}

*{
    font-family: Product Sans;
    color: white;
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
}

::-webkit-scrollbar { width: 0 !important }
::-webkit-scrollbar {display:none;}